[submodule "home/.vim/bundle/vim-vividchalk"]
	path = home/.vim/bundle/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "bundle/command-t"]
	path = home/.vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "home/.vim/bundle/LustyJuggler"]
	path = home/.vim/bundle/LustyJuggler
	url = https://github.com/vim-scripts/LustyJuggler.git
[submodule "home/.vim/bundle/pyflakes"]
	path = home/.vim/bundle/pyflakes
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "home/.zshconfig/oh-my-zsh"]
	path = home/.zshconfig/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
